@charset "utf-8";
body {
  font-family: "Didot", serif;
  color: #dbd1d4;
}

.hero {
  position: relative;
  height: 100vh;
  background: url(portfolio_image/header.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  position: absolute;
  top: 30px;
  left: 30px;
}

.nav ul {
  display: flex;
  gap: 90px;
  list-style: none;
}

.nav a {
  color: #404040;
  text-decoration: none;
  font-family: "Adobe Handwriting Ernie";
  font-size: 20px;
}

.hero-text {
  max-width: 80%;
}

.hero-text h1 {
  font-size: 225px;
  color: #f0e8e8;
}

.scroll-text {
  position: absolute;
  bottom: 30px;
  right: 145px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 24px;
  color: #d0a9a9;
}
